body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover,
a:focus,
button:hover,
button:focus,
input[type="checkbox"]:focus + label::before,
input[type="radio"]:focus + label::before {
  outline: 3px solid lightblue;
}

.main-header {
  background-color: #f3f7f9;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  background-color: #293449;
  margin-bottom: 46px;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.index-header {
  margin-bottom: 59px;
}

.main-header-top {
  display: flex;
  background-color: #293449;
}

.main-logo img {
  padding: 13px 55px 12px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  vertical-align: middle;
}

.main-logo img:hover {
  background-color: #ca2c37;
  border-color: #9a212a;
}

.main-logo img:focus {
  background-color: #ba2732;
  border-color: #8e1e26;
}

.main-logo img:active {
  background-color: #ca2c37;
  border-color: #9a212a;
}

.search-form {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.search-form:hover {
  background-color: #212a3a;
}

.search-form input {
  font-family: "Cuprum", "Arial", sans-serif;
  width: 270px;
  padding-left: 49px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  background-color: transparent;

  color: #ffffff;
  line-height: 18px;
}

.search-form input::-webkit-input-placeholder { /* WebKit browsers */
   font-size: 17px;
   line-height: 18px;
   color: #ffffff;
}

.search-form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   font-size: 17px;
   line-height: 18px;
   color: #ffffff;
}

.search-form input::-moz-placeholder { /* Mozilla Firefox 19+ */
   font-size: 17px;
   line-height: 18px;
   color: #ffffff;
}

.search-form input:-ms-input-placeholder { /* Internet Explorer 10+ */
   font-size: 17px;
   line-height: 18px;
   color: #ffffff;
}

.search-form input:focus {
  background-color: #ffffff;
  color: #000000;
}

.search-form input:focus ~ button .search-button {
  fill: #ee3643;
}

.search-form button {
  position: absolute;
  left: 18px;
  top: 12px;
  width: 17px;
  height: 17px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-button {
  fill: #ffffff;
}

.main-bookmark,
.main-kart {
  position: relative;
  box-sizing: border-box;
  width: 150px;
  word-break: break-all;
}

.main-bookmark::before,
.main-kart::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  left: 18px;
  top: 13px;
  background-image: url("../img/icon/icon-bookmark.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.main-bookmark {
  padding: 12px 10px 12px 45px;
}

.main-kart {
  padding: 12px 10px 12px 50px;
}

.main-kart::before {
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.main-bookmark:focus,
.main-kart:focus {
  background-color: #212a3a;
}

.main-bookmark:hover::before,
.main-kart:hover::before {
  opacity: 1;
}

.main-bookmark:focus::before,
.main-kart:focus::before {
  opacity: 0.5;
}

.main-order  {
  text-align: center;
  width: 130px;
  padding: 12px 10px 12px;
  word-break: break-all;
}

.main-bookmark,
.main-kart,
.main-order {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.main-bookmark:hover,
.main-kart:hover,
.main-order:hover {
  color: rgba(255, 255, 255, 0.5);
  background-color: #212a3a;
}

.item-in-kart {
  background-color: #ee3643;
}

.main-order {
  background-color: #63a63e;
}

.main-order:hover {
  background-color: #5fbb2d;
}

.main-order:focus {
  background-color: #518534;
}

.main-header-middle {
  display: flex;
  margin-bottom: 38px;
  min-height: 74px;
}

.main-title,
.main-contacts,
.user-navigation {
  margin: 0;
  padding: 0;
}

.main-title {
  box-sizing: border-box;
  width: 320px;
  margin-right: 0px;
  padding-top: 3px;
  padding-left: 52px;
  padding-right: 43px;


  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.main-contacts {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;

  box-sizing: border-box;
  width: 320px;
  margin-right: 0px;
}

.main-contacts span:nth-of-type(1) {
  position: relative;
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;


  box-sizing: border-box;
  width: 270px;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 71px;
  border: 3px solid #ffffff;
  margin-bottom: 4px;
}

.main-contacts span:nth-of-type(2) {
  padding-left: 10px;
}

.main-contacts span:nth-of-type(1)::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  left: 13px;
  top: 11px;
  background-image: url("../img/icon/icon-phone.svg");
}

/*Меню личного кабинета*/
.user-menu-container {
  display: flex;
  width: 300px;
  flex-direction: column;
}

.user-navigation {
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.user-navigation li:first-child {
  margin-right: 10px;
}

.user-navigation-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 12px 24px 12px 13px;
  background-color: #ffffff;
}

.user-navigation-button svg {
  padding-right: 14px;
  padding-bottom: 2px;
  vertical-align: bottom;
}

.login-icon {
  fill: #c5c5c5;
}

.user-navigation-signin {
width: 121px;
}

.user-navigation-registration {
  width: 150px;
  margin-right: 0;
  padding-left: 24px;
}

.user-name {
  position: relative;
  margin: 0;
  margin-bottom: 6px;
  padding: 12px 0 11px 47px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
}

.user-name svg {
  position: absolute;
  left: 14px;
}

.user-name path {
  fill: #32425c;
}

.user-logout:hover path,
.user-logout:focus path {
  fill: #c5c5c5;
}

.user-logout {
  position: absolute;
  width: 20px;
  height: 17px;
  right: 25px;
  top: 13px;
}

.user-navigation-in {
  padding-right: 73px;
}

.user-navigation li,
.main-navigation li {
  list-style: none;
}

.user-navigation-in li:first-child {
  margin-right: 30px;
}

.user-navigation-in li:last-child {
  position: relative;
}

.user-navigation-in li:last-child::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #32425c;
  top: 9px;
  left: -17px;
}

.user-navigation .in-account {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-navigation .in-account:hover {
  color: #ee3643;
}

.user-navigation .in-account:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-navigation-signin:hover,
.user-navigation-registration:hover {
  color: #ee3643;

}

.user-navigation-signin:hover .login-icon {
  fill: #32425c;
}

.user-navigation-signin:focus .login-icon {
  fill: #c5c5c5;
}

.user-navigation-signin:focus,
.user-navigation-registration:focus {
  background-color: #f7f9fa;
  color: rgba(0, 0, 0, 0.3);
}

/*Навгиация по сайту*/
.main-navigation {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
  display: flex;
}

.main-navigation a {
  display: block;
  min-width: 60px;
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  text-align: center;

   font-family: "Cuprum", "Arial", sans-serif;
   font-size: 17px;
   line-height: 17px;
}

.main-navigation li:first-child {
  margin-left: 0;
}

.main-navigation li:first-child a {
  padding-left: 49px;
}

.main-navigation li:nth-child(3) a {
  padding-left: 24px;
}

.main-navigation li:nth-child(4) a {
  padding-left: 23px;
}

.main-navigation li:nth-child(5) a {
  padding-left: 25px;
}

.main-navigation li:nth-child(6) a {
  padding-left: 33px;
}


.main-navigation li:last-child a {
  padding-right: 54px;
  padding-left: 33px;
}


.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:focus {
  color: rgba(255, 255, 255, 0.5);
}

/*Хлебный крошки*/
.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  padding-top: 18px;
}

.breadcrumbs li {
  position: relative;
  list-style: none;
  margin-right: 55px;
}

.breadcrumbs li:nth-child(2) {
  margin-right: 40px;
}

.breadcrumbs li:nth-child(3) {
  margin-right: 43px;
}

.breadcrumbs li:nth-of-type(n+2):before {
  position: absolute;
  content: "";
  width: 8px;
  height: 12px;
  top: 5px;
  left: -27px;
  background-image: url("../img/icon/icon-breadcrumds.svg");
}

.breadcrumbs li:nth-of-type(n+3):before {
  left: -24px;
}

.breadcrumbs a,
.breadcrumbs-current {
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs-main {
  position: relative;
  font-size: 0px;

}

.breadcrumbs-main::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 12px;
  left: -2px;
  top: -11px;
  bottom: 0;
  background-image: url("../img/icon/icon-home.svg");
  background-repeat: no-repeat;

}

.breadcrumbs-current {
  padding-top: 3px;
}

/*Заголовок каталога*/
.catalog-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 27px;
  padding-top: 29px;
  padding-bottom: 30px;


  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f3f7f9;
}

/*Фильтр*/

.filter {
  width: 220px;
}

.products-filter {
  margin: 0;
  margin-bottom: 10px;
  padding: 0 19px;
  padding-top: 9px;
  padding-bottom: 11px;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.filter-item-container {
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  padding-bottom: 21px;
  margin: 0;
  margin-bottom: 23px;
}

.filter .filter-item-container:first-of-type {
  padding-bottom: 25px;
  margin-bottom: 16px;
}

.filter .filter-item-container:nth-of-type(2) {
  padding-bottom: 22px;
  margin-bottom: 17px;
}

.filter .filter-item-container:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 78px;
}

.brands-filter,
.type-filter {
  display: flex;
  flex-direction: column;
}

.price-filter-title,
.brands-filter-title,
.type-filter-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.brands-filter-title {
  margin-bottom: 0px;
}

.type-filter-title {
  margin-bottom: 1px;
}

.price-range-filter {
  position: relative;

}

.min-price-button, .max-price-button {
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;


  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url("../img/icon/filter-button.svg");
  box-shadow: 0 2px 0 0 #e0ddd8;
}

.min-price-button {
  top: 30px;
  left: 19px;
}

.max-price-button {
  top: 30px;
  right: 4px;
}

.scale-range {
  background-color: #f7f3ec;
  border-radius: 3px;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 30px;
  margin: 0;
  margin-bottom: 9px;
}

.scale {
  width: 168px;
  height: 2px;
  background-color: #00ca74;
}

.min-price, .max-price {
  box-sizing: border-box;
  width: 95px;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 3px;
}

.min-price {
  margin-right: 26px;
}

.price-range-filter::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 1px;
  background-color: #000000;
  bottom: 19px;
  left: 105px;
}


.brands-filter input,
.type-filter input {
  opacity: 0;
}

.brands-filter label,
.type-filter label {
  position: relative;
  padding-left: 34px;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.brands-filter label:nth-of-type(2) {
  margin-bottom: 7px;
}

.brands-filter label:nth-of-type(3) {
  margin-bottom: 7px;
}

.brands-filter label:nth-of-type(4) {
  margin-bottom: 7px;
}

.type-filter label {
  margin-bottom: 7px;
}

.brands-filter-checkbox + label::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 23px;
  height: 23px;
  background-image: url("../img/icon/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
}

.brands-filter-checkbox + label:nth-of-type(4)::before,
.brands-filter-checkbox + label:nth-of-type(5)::before {
  bottom: -2px;
}

.brands-filter-checkbox + label:hover::before,
.type-filter-radio + label:hover::before {
  opacity: 1;
}

.brands-filter-checkbox:checked + label::before {
  width: 27px;
  background-image: url("../img/icon/checkbox-on.svg");
}

.type-filter-radio:disabled + label::before {
  opacity: 0.3;
}

.type-filter-radio + label::before {
  position: absolute;
  content: "";
  left: -1px;
  bottom: -3px;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
}

.type-filter-radio:checked + label::before {
  background-image: url("../img/icon/radio-on.svg");
}

.brands-filter label:nth-last-of-type(1),
.type-filter label:nth-last-of-type(1) {
    margin-bottom: 0;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  background-color: transparent;
  text-transform: uppercase;

  margin: 0;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 38px;
  padding-right: 39px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

/*Сортировка в каталоге*/
.filter-sort {
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 18px;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.sort-title {
  margin: 0;
  margin-right: 137px;
  padding-top: 9px;
  padding-bottom: 11px;
  display: inline-block;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-sort p {
  margin: 0;
}

.sort-button {
  display: inline-block;
}

.sort-button a {
  color: rgba(0, 0, 0, 0.3);

  margin: 0;

  display: inline-block;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
}

.sort-button a:nth-of-type(1) {
  margin-right: 66px;
}

.sort-button a:nth-of-type(2) {
  margin-right: 63px;
}

.sort-button a:hover {
  color: #000000;
  border-bottom-style: solid;
}

.sort-button a:nth-of-type(n+4) {
  margin-right: 0;
}

.sort-button a:nth-of-type(3) {
  margin-right: 43px;
}

.sort-button a:nth-of-type(4) {
  margin-right: 16px;
}

.sort-button a:nth-of-type(4),
.sort-button a:nth-of-type(5) {
  border: none;
  vertical-align: bottom;
}

.sorting-up path,
.sorting-down path {
  fill: rgba(0, 0, 0, 0.3);
}

.sorting-up:hover path,
.sorting-down:hover path {
  fill: #000000;
}

a.sorting-active {
  color: #ee3643;
}

.sorting-active path {
  fill: #ee3643;
}

.about-product-wrapper {
  background-color: #f2f6f8;
  padding-top: 65px;
  padding-bottom: 68px;
}

.about-product-title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-product {
  margin: 0;
}

/*Подвал*/
.main-footer .wrapper {
  margin-bottom: 0;
}

footer .wrapper {
  margin: 0;
}

.footer-color-wrapper {
  background-color: #32425c;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 49px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  flex-basis: 360px;
}

.main-footer-logo img {
  padding: 21px 41px 21px;
}

.main-footer-logo {
  margin-bottom: 33px;
  align-self: flex-start;
}

.main-footer {
  background-color: #32425c;
  color: #ffffff;
}

.footer-contacts {
  font-size: 18px;
  color: #ffffff;
  width: 340px;
  text-align: left;

  padding-left: 3px;
}

.footer-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 580px;

  padding-top: 37px;
}

.footer-navigation-item {
  margin-left: 59px;
}

.footer-navigation-item:nth-child(1),
.footer-navigation-item:nth-child(6) {
  margin-left: 0;
}

.footer-navigation-item a {
  font-family: "Cuprum", "Arial", sans-serif;
}

.footer-navigation-item:nth-of-type(n+6) a,
.feedback a,
.site-developed a {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffd180;
}
.footer-navigation-item:nth-of-type(n+6) {
  padding-top: 8px;
}

.footer-navigation-item a:hover,
.feedback a:hover,
.site-developed a:hover {
  text-decoration: underline;
}

.footer-navigation-item a:focus {
  color: rgba(255, 204, 153, 0.5);
}


.footer-navigation-item {
  list-style: none;

  font-size: 18px;
  line-height: 24px;
}

.footer-bottom {
  display: flex;
  justify-content: flex-start;
  padding-top: 21px;
  padding-bottom: 19px;
  background-color: #293449;
}

.footer-copyright {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  width: 245px;
  margin-right: 106px;
}

.social-list {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-left: 40px;
  display: flex;
  margin-right: 118px;
}

.social-list li {
  list-style: none;
  margin-right: 3px;
}

.social-button {
  position: relative;
  display: block;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #212a3a;
}

.social-button:hover {
  background-color: #ee3643;
}

.social-button:focus {
  background-color: #ee3643;
}

.button-vk::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 15px;
  top: 12px;
  left: 20px;
  margin-left: -13px;

  background-image: url(../img/icon/vk-icon.svg);
  background-repeat: no-repeat;
}

.button-fb::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 22px;
  top: 9px;
  left: 21px;
  margin-left: -6px;

  background-image: url(../img/icon/fb-icon.svg);
  background-repeat: no-repeat;
}


.button-inst::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 9px;
  left: 21px;
  margin-left: -10px;

  background-image: url(../img/icon/insta-icon.svg);
  background-repeat: no-repeat;
}

.social-button:focus {
  background-color: #ee3643;
}

.site-developed {
  margin-left: auto;
  padding-left: 30px;
}

.feedback,
.site-developed {
  box-sizing: border-box;
  margin-right: 0;
  width: 140px;
  color: #ffffff;
}

.feedback a:focus,
.site-developed a:focus {
  color: #ee3643;
}

.feedback,
.feedback a,
.site-developed,
.site-developed a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

/*Стили для карточек товаров*/
.catalog-main-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-catalog-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.product-catalog {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 52px;
  padding: 0;
  display: flex;

  justify-content: flex-start;
  flex-wrap: wrap;
}

.product-catalog-wrapper .product-catalog {
  width: 700px;
}

.popular-product-catalog {
  margin-bottom: 21px;
  margin-left: 0;
}

.catalog-item,
.popular-product-item {
  position: relative;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  list-style: none;
  border: 1px solid #f6f6f6;
}

.catalog-item:hover,
.popular-product-item:hover {
  box-shadow: 0 10px 25px #293449;
}

.catalog-item:nth-last-of-type(1),
.catalog-item:nth-last-of-type(2),
.catalog-item:nth-last-of-type(3),
.popular-product-item:nth-last-of-type(1),
.popular-product-item:nth-last-of-type(2),
.popular-product-item:nth-last-of-type(3),
.popular-product-item:nth-last-of-type(4)    {
  margin-bottom: 0;
}

.product-catalog .catalog-item:nth-of-type(3n),
.popular-product-item:nth-of-type(4n) {
  margin-right: 0;
}

.catalog-item h3,
.popular-product-item h3 {
  margin: 0;
  margin-bottom: 12px;
  padding: 0 25px;
  line-height: 20px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  word-break: break-all;
}


.catalog-item-title {
  min-height: 40px;
  color: #000000;
}

.catalog-item-image {
  margin: 0;
  margin-bottom: 10px;
  width: 218px;
  height: 168px;

  text-align: center;
  border: none;
  background-color: #ffffff;

}

.catalog-item-image img {
  border: none;
  max-width: 100%;
}

.buy-item {
  display: none;
  margin: 0;
  position: absolute;
  width: 135px;
  top: 43px;
  left: 41px;
  text-align: center;
}

.catalog-item:hover .catalog-item-image,
.popular-product-item:hover .catalog-item-image {
  opacity: 0;
}

.catalog-item:hover .buy-item,
.popular-product-item:hover .buy-item {
  display: block;
  z-index: 28;
}

.button-buy {
  display: block;
  position: relative;
  padding-top: 7px;
  padding-bottom: 4px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 8px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #63a63e;
  word-break: break-all;

  text-align: center;
  border: 3px solid #63a63e;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 #367315;
}

.button-buy::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/icon-cart.svg");
  opacity: 0.3;
  left: 10px;
  z-index: 29;
}

.button-buy:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  }

.button-buy:focus {
  background-color: #518534;
  border-color: #518534;
  box-shadow: 0 3px 0 0 #518534;
  }

.button-bookmark {
  display: block;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 30px;
  padding-right: 30px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #32425c;
  word-break: break-all;

  border: 3px solid #63a63e;
  border-radius: 3px;
  text-align: center;
}

.button-bookmark:hover {
  border-color: #32425c;
}

.button-bookmark:focus {
  border-color: rgba(50, 66, 92, 0.3);
  color: rgba(50, 66, 92, 0.3);
}

.old-price {
  margin: 0;
  margin-bottom: 10px;
  padding: 0 25px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #999999;
  text-align: center;
  text-decoration: line-through;
  word-break: break-all;
}

.no-discount h3 {
  margin-bottom: 40px;
}

.price {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin: 0;
  margin-bottom: 10px;
  margin-left: 42px;
  min-width: 66px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  padding-right: 21px;
  word-break: break-all;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;
}

.price::after {
  position: absolute;
  content: "";
  top: 0;
  right: -37px;
  border: 19px solid transparent;
  border-left-color: #ee3643;
}

.new-item {
  margin: 0;
  font-size: 0;
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  top: -1px;
  right: -1px;
  background-image: url("../img/decor/new-item.png");
  background-repeat: no-repeat;
  z-index: 23;
}

/*Меню пагинации*/
.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 20px;
}

.pagination .pagination-item {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  list-style: none;
  line-height: 18px;
}

.pagination-item a {
  display: block;
  width: 36px;
  padding: 9px 0;

  border: 1px solid #e5e5e5;
  border-radius: 3px;

  text-align: center;
  color: #000000;
}

.pagination-item a:hover {
  border-color: #bdc6ca;
}

.pagination-item a:focus {
  border-color: #ee3643;
}

.pagination-item:last-child  a{
  width: 138px;
  text-transform: uppercase;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
  overflow: hidden;
}

.pagination-item-current a:hover {
  border-color: #ee3643;
}

/*Главная: наши предложения*/
.promo {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 940px;
  margin: 0;
  margin-bottom: 53px;
}

.promo-item {
  position: relative;
  box-sizing: border-box;
  list-style: none;
  flex-basis: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px 22px 22px;
}

.promo-item .new-item {
  top: 0;
  right: 0;
}

.promo-item:first-child {
  background-color: #ffbf47;
  background-image: url("../img/icon/icon-material.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
  order: 1;
}

.promo-item:nth-child(2) {
  background-color: #3bbce3;
  background-image: url("../img/icon/icon-instrument.svg");
  background-repeat: no-repeat;
  background-position: 197px 33px;
  order: 2;
}

.promo-item:nth-child(3) {
  background-color: #dc91d8;
  background-image: url("../img/icon/icon-technic.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
  margin-right: 0;
  order: 3;
}

.promo-item:nth-child(4) {
  background-color: #8ed78f;
  background-image: url("../img/icon/icon-discount.svg");
  background-repeat: no-repeat;
  background-position: 196px 26px;
  margin-right: 0;
  order: 5;
}

.promo-item:nth-child(5) {
  position: absolute;
  bottom: -1px;
  width: 300px;
  background-color: #ffc047;
  background-image: url("../img/icon/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 191px 32px;
  margin: 0;
  order: 6;

}

.promo-item h3 {
  position: relative;
  margin: 0;
  padding-right: 90px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 13px;
  word-break: break-all;
}

.promo-item a {
  display: block;
  width: 115px;
  margin-left: 3px;
  padding: 10px;
  text-align: center;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  word-break: break-all;
}

.promo-item:nth-child(3) a,
.promo-item:nth-child(4) a,
.promo-item:nth-child(5) a {
  margin-left: 1px;
}

.promo-item a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.promo-item a:focus {
    background-color: rgba(0, 0, 0, 0.3);
}

.promo-item:nth-child(6) {
  margin-bottom: 0;
  padding: 0;
  flex-basis: 620px;
  height: 265px;
  order: 4;
}

.promo-item:nth-child(6) .promo-slider-item:first-of-type {
  box-sizing: border-box;
  width: 620px;
  height: 266px;
  background-color: #725749;
  background-image: url("../img/content/slider/2.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.promo-item:nth-child(6) .promo-slider-item:last-of-type {
  box-sizing: border-box;
  width: 620px;
  height: 265px;
  background-color: #b0a89f;
  background-image: url("../img/content/slider/1.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-slider-item {
  padding: 23px 0 0 24px;
}

.promo-slider {
  position: relative;
}

.promo-slider-item h3 {
  margin: 0;
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-slider-item p {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.promo-slider a {
  box-sizing: border-box;
  position: absolute;
  top: 206px;
  left: 22px;
  min-width: 195px;
  padding: 10px 10px;
  background-color: #ee3643;
  border-radius: 3px;
}

.promo-slider a:hover {
  background-color: #ca2c37;
}

.promo-slider a:focus {
  background-color: #ba2732;
}

.slider-toggle {
  position: absolute;
  left: 295px;
  bottom: 27px;
}

.slider-toggle .slider-toggle-item--1,
.slider-toggle .slider-toggle-item--2 {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("../img/content/slider/slider-toggle.svg");
  cursor: pointer;
}

.slider-toggle .slider-toggle-item--1 {
  margin-right: 6px;
}


.promo-slider-item {
  display: none;
}

#slide-drills:checked ~ .promo-slider-item:first-of-type,
#slide-perforators:checked ~ .promo-slider-item:last-of-type {
  display: block;
}

#slide-drills:checked ~ .slider-toggle .slider-toggle-item--1::before,
#slide-perforators:checked ~ .slider-toggle .slider-toggle-item--2::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("../img/content/slider/slider-toggle-active.svg");
  top: 0;
  left: 0;
}

.button-back, .button-next {
  position: absolute;
  border: none;
  background-color: transparent;
  width: 22px;
  height: 40px;
}

.button-back {
  top: 114px;
  left: 25px;
  background-image: url("../img/content/slider/icon-left.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.button-next {
  top: 114px;
  right: 20px;
  background-image: url("../img/content/slider/icon-right.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

/*Главная: популярные товары, производители, сервисы*/
.brands-title,
.product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f0;
  padding: 26px 24px 26px 26px;
  margin-bottom: 20px;
}

.brands-title {
    padding-top: 25px;
}

.link-brands,
.link-product {
  box-sizing: content-box;
  display: inline-block;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  min-width: 171px;
  padding: 10px 41px 10px 41px;
  background-color: #ee3643;
  border-radius: 3px;
}

.link-brands {
   padding: 11px 41px 9px 41px;
}

.link-brands:hover,
.link-product:hover,
.link-credit:hover {
    background-color: #ca2c37;
}

.link-brands:focus,
.link-product:focus,
.link-credit:focus {
    background-color: #ba2732;
}

.popular-brands,
.popular-product {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.popular-brands-catalog {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 85px;
}

.popular-brands-catalog .popular-brands-item {
  max-width: 218px;
  height: 143px;
  list-style: none;
  border: 1px solid #eaeaea;

  margin-right: 20px;
  margin-bottom: 20px;
}

.popular-brands-catalog .popular-brands-item:nth-child(4n) {
  margin-right: 0;
}

.popular-brands-catalog .popular-brands-item:nth-last-child(1),
.popular-brands-catalog .popular-brands-item:nth-last-child(2),
.popular-brands-catalog .popular-brands-item:nth-last-child(3),
.popular-brands-catalog .popular-brands-item:nth-last-child(4) {
  margin-bottom: 0;
}


/*Главная: сервисы, о компании, контакты*/
.services-title h2,
.about-company-title,
.contacts-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 26px;
}

.services-wrapper {

  padding-top: 66px;
  padding-bottom: 102px;
  background-color: #f4f7f9;
}

.services-container {
  position: relative;
}

.services-title {
  padding-right: 540px;
  margin-bottom: 67px;
}

.services-title p {
  margin: 0;
  word-break: break-all;
}

#delivery,
#garanty,
#credit {
  display: none;
}

.services-toggle {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 240px;
  padding-top: 2px;
  margin-right: 77px;
}

.delivery-toggle,
.garanty-toggle,
.credit-toggle {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;

  display: block;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 22px;
  padding-right: 10px;
  word-break: break-all;
  background-color: #32425c;

  border-top: 1px solid #4e637c;
}

.delivery-toggle {
  padding-top: 13px;
}

.garanty-toggle {
  padding-top: 13px;
}

.credit-toggle {
  padding-top: 13px;
  padding-bottom: 16px;
}

.services-toggle .delivery-toggle {
  border: none;
}

#delivery:checked ~ .services .delivery-toggle,
#garanty:checked ~ .services .garanty-toggle,
#credit:checked ~ .services .credit-toggle {
  color: #32425c;
  background-color: #ffffff;
  border-color: #ffffff;
}

.services-toggle::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 279px;
  background-image: url("../img/decor/shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -46px;
  right: 0;
}

.service-item {
  display: inline-block;
  vertical-align: top;
}

.service-item p {
  margin: 0;
}

.service-item-delivery,
.service-item-garanty,
.service-item-credit {
  display: none;
  width: 375px;
}

.service-item-delivery::after {
  position: absolute;
  content: "";
  width: 468px;
  height: 261px;
  background-image: url("../img/decor/delivery.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  bottom: -102px;
  right: 11px;
}

.service-item-garanty::after {
  position: absolute;
  content: "";
  width: 387px;
  height: 282px;
  background-image: url("../img/decor/garanty.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  bottom: -102px;
  right: 3px;
}

.service-item-credit::after {
  position: absolute;
  content: "";
  width: 464px;
  height: 285px;
  background-image: url("../img/decor/credit.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  bottom: -102px;
  right: 0px;
}

.service-item-delivery p:nth-of-type(1){
  width: 280px;
}

.service-item-delivery p:nth-of-type(2){
  width: 175px;
}

.service-item-credit p {
  width: 280px;
  margin-bottom: 25px;
}

.service-item-credit a {
  width: 141px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 27px;
  padding-right: 27px;
  word-break: break-all;
}

.service-item h3 {
  margin: 0;
  margin-bottom: 25px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}
#delivery:checked ~ .services .service-item-delivery,
#garanty:checked ~ .services .service-item-garanty,
#credit:checked ~ .services .service-item-credit {
  display: inline-block;
}

.company-wrapper {
  display: flex;
  justify-content: space-between;
}

.about-company {
  width: 540px;
}

.contacts {
  width: 300px;
}

.about-company,
.contacts {
  padding-top: 79px;
  padding-bottom: 86px;
}

.about-company p,
.contacts p {
  margin: 0;
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 24px;
}

.contacts p {
  width: 200px;
  margin-bottom: 32px;
}

.about-company p:nth-of-type(2) {
  margin-bottom: 21px;
}

.about-company ul {
  margin: 0;
  padding: 0;
  padding-left: 35px;
  margin-bottom: 36px;
}

.about-company li {
  position: relative;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  margin-bottom: 20px;
}

.about-company li:before {
  position: absolute;
  content: "";
  top: 8px;
  left: -35px;
  width: 21px;
  border: 2px solid #ee3643;
}

.button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  min-width: 140px;
  padding: 10px 40px 10px;
  background-color: #ee3643;
  text-transform: uppercase;
  border-radius: 3px;
  text-align: center;
  word-break: break-all;
}

.contacts .button {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  padding-left: 44px;
}

.about-company .button:hover,
.contacts .button:hover {
  background-color: #ca2c37;
}

.about-company .button:focus,
.contacts .button:focus {
  background-color: #ba2732;
}

.contacts img {
 margin-bottom: 31px;
}

/*POPUP Map*/
.modal {
  display: none;
}

.company-wrapper {
  position: relative;
}

.modal-map {
  position: absolute;
  top: 35px;
}
.modal-map img {
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.5);
}

.modal-close {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../img/icon/icon-close.svg");
  background-repeat: no-repeat;
  border: none;
}

/*POPUP Message*/
.modal-message {
  box-sizing: border-box;
  width: 620px;
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -310px;
  z-index: 24;
  border-top: 7px solid #ee3643;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.4);
}

.modal-form-wrapper {
  background-color: #ffffff;
  padding: 46px 80px 37px;
}

.modal-button-wrapper {
  background-color: #f4f4f4;
  padding: 37px 80px 37px;
}

.modal-message p {
  display: inline-block;
  margin: 0;
  margin-bottom: 18px;
}

.modal-message p:nth-child(1) {
   margin-right: 16px;
}

.modal-message p:nth-child(3) {
  margin: 0;
}

.modal-message label {
  display: block;
  padding-left: 1px;
  margin-bottom: 9px;
}

.modal-message input {
  box-sizing: border-box;
  display: block;
  width: 220px;
  padding-left: 14px;
  border-color: #dee3e4;
  border-radius: 3px;
  width: 220px;
  height: 38px;
}

.modal-message input:hover,
.modal-message textarea:hover {
  border-color: #b5b5b5;
  color: #b5b5b5;
}

.modal-message input:focus,
.modal-message textarea:focus {
  border-color: #ee3643;
  color: #b5b5b5;
}

.modal-message textarea {
  box-sizing: border-box;
  display: block;
  width: 460px;
  height: 115px;
  padding-top: 10px;
  padding-left: 14px;
  border-color: #dee3e4;
  border-radius: 3px;
}

.button-modal {
  width: 100%;
  color: #ffffff;
  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding-top: 11px;
  padding-bottom: 9px;
}

.modal-message label {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.modal-message input,
.modal-message textarea {
  font-size: 13px;
  line-height: 18px;

  border: 2px solid #dee3e4;
}

/*POPUP Товар в корзине*/
.modal-kart {
  box-sizing: border-box;
  width: 620px;
  position: fixed;
  top: 300px;
  left: 50%;
  margin-left: -310px;
  z-index: 30;
  border-top: 7px solid #ee3643;
  background-color: #ffffff;
}

.modal-kart p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  padding: 35px 0;
  padding-left: 180px;
}

.modal-kart p::before {
  position: absolute;
  content: "";
  width: 66px;
  height: 66px;
  left: 81px;
  top: 48px;
  background-image: url("../img/icon/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-kart-wrapper {
  padding: 40px 80px;
  background-color: #f1f1f1;
}
.modal-button-order {
  margin-right: 16px;
}

.button-next-purchase {
  padding: 0;
  background-color: #ffffff;
  border: none;
  width: 220px;
  height: 38px;
}


.modal-close {
  position: absolute;
  content: "";
  top: 9px;
  right: 6px;
}

.modal-close:hover {
  cursor: pointer;
}
