body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.main-header {
  background-color: #f3f7f9;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  background-color: #293449;
  margin-bottom: 46px;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.index-header {
  margin-bottom: 59px;
}

.catalog-header {
  margin-bottom: 83px;
}

.main-header-top {
  display: flex;
  background-color: #293449;
}

.main-logo img {
  padding: 13px 55px 12px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  vertical-align: middle;
}

.main-logo img:hover {
  background-color: #ca2c37;
  border-color: #9a212a;
}

.main-logo img:focus {
  background-color: #ba2732;
  border-color: #8e1e26;
}

.main-logo img:active {
  background-color: #ca2c37;
  border-color: #9a212a;
}

.search-form {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.search-form:hover {
  background-color: #212a3a;
}

.search-form input {
  font-family: "Cuprum", "Arial", sans-serif;
  width: 270px;
  padding-left: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  background-color: transparent;

  color: #ffffff;
  line-height: 18px;
}

.search-form input::-webkit-input-placeholder { /* WebKit browsers */
   font-size: 17px;
   line-height: 18px;
   color: #ffffff;
}

.search-form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   font-size: 17px;
   line-height: 18px;
   color: #ffffff;
}

.search-form input::-moz-placeholder { /* Mozilla Firefox 19+ */
   font-size: 17px;
   line-height: 18px;
   color: #ffffff;
}

.search-form input:-ms-input-placeholder { /* Internet Explorer 10+ */
   font-size: 17px;
   line-height: 18px;
   color: #ffffff;
}

.search-form input:focus {
  background-color: #ffffff;
  color: #000000;
}

.search-form input:focus ~ .search-button {
  fill:
}

.search-form button {
  position: absolute;
  left: 17px;
  top: 11px;
  width: 17px;
  height: 17px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.search-button {
  fill: #ffffff;
}

.main-bookmark,
.main-kart {
  position: relative;
  box-sizing: border-box;
  width: 150px;
  padding: 11px 0 13px 14px;
  text-align: center;
}

.main-bookmark::before,
.main-kart::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  left: 17px;
  top: 12px;
  background-image: url("../img/icon/icon-bookmark.svg");
  opacity: 0.3;
}

.main-kart::before {
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/icon-cart.svg");
  opacity: 0.3;
}

.main-bookmark:focus,
.main-kart:focus {
  background-color: #212a3a;
}

.main-bookmark:hover::before,
.main-kart:hover::before {
  opacity: 1;
}

.main-bookmark:focus::before,
.main-kart:focus::before {
  opacity: 0.5;
}

.main-order  {
  padding: 10px 21px 14px;
}

.main-bookmark,
.main-kart,
.main-order {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.main-bookmark:hover,
.main-kart:hover,
.main-order:hover {
  color: rgba(255, 255, 255, 50%);
  background-color: #212a3a;
}

.item-in-kart {
  background-color: #ee3643;
}

.main-order {
  background-color: #63a63e;
}

.main-order:hover {
  background-color: #5fbb2d;
}

.main-order:focus {
  background-color: #518534;
}

.main-header-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.main-title,
.main-contacts,
.user-navigation {
  margin: 0;
  padding: 0;
}

.main-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;

  width: 208px;
  padding-left: 45px;
}

.main-contacts {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.main-contacts span {
  position: relative;
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  padding: 8px 46px 8px 70px;
  border: 3px solid #ffffff;
  margin-bottom: 5px;
}

.main-contacts span::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  left: 13px;
  background-image: url("../img/icon/icon-phone.svg");
}


/*Меню личного кабинета*/
.user-menu-container {
  display: flex;
  flex-direction: column;
}

.user-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.user-navigation-login {
  display: inline-block;
  padding: 14px 27px 15px 48px;
  margin-right: 6px;
  background-color: #ffffff;
}

.user-navigation-login::before {
  content: "";
 /* width: */
}

.user-navigation-registration {
  display: inline-block;
  padding: 14px 25px 15px;
  background-color: #ffffff;
}

.user-login {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
}

.user-navigation li,
.main-navigation li {
  list-style: none;
}

.user-navigation .in-account {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-navigation a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-navigation-login:hover,
.user-navigation-registration:hover {
  color: #ee3643;
}

.user-navigation-login:focus,
.user-navigation-registration:focus {
  background-color: #f7f9fa;
  color: rgba(0, 0, 0, 30%);
}

/*Навгиация по сайту*/
.main-navigation {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  display: flex;
}

.main-navigation li {
  width: 100%;
}

.main-navigation a {
  display: block;
  background-color: #32425c;
  padding-top: 20px;
  padding-bottom: 18px;
  border-bottom: 5px solid #293449;
  text-align: center;
}

.main-navigation a {
 font-family: "Cuprum", "Arial", sans-serif;
 font-size: 17px;
 line-height: 17px;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:focus {
  color: rgba(255, 255, 255, 50%);
}

/*Хлебный крошки*/
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 55px;
}

.breadcrumbs li {
  list-style: none;
}

.breadcrumbs a,
.breadcrumbs-current {
  line-height: 18px;
  color: #000000;
}

.breadcrumbs-current {
  padding-top: 3px;
}

/*Заголовок каталога*/
.catalog-title {
  margin: 0;
  margin-bottom: 65px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;

  background-color: #f3f7f9;
}

/*Фильтр*/
.filter {
  width: 220px;
}

.filter-item-container {
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  padding-bottom: 21px;
  margin-bottom: 23px;
}

.filter .filter-item-container:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 75px;
}

.price-filter,
.brands-filter,
.type-filter {
  display: flex;
  flex-direction: column;
}

.price-filter legend,
.brands-filter legend,
.type-filter legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.brands-filter label,
.type-filter label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.brands-filter label:nth-last-of-type(1),
.type-filter label:nth-last-of-type(1) {
    margin-bottom: 0;
}

.filter button {
  font-size: 13px;
  line-height: 18px;
  background-color: transparent;
  border: 1px solid #e5e5e5;
}

.modal-message label {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.modal-message input,
.modal-message textarea {
  font-size: 13px;
  line-height: 18px;

  border: 2px solid #dee3e4;
}

.modal-message input {
  width: 216px;
  height: 34px;
}

.modal-message textarea {
  width: 456px;
  height: 110px;
}

/*Подвал*/
.main-footer .wrapper {
  margin-bottom: 0;
}

footer .wrapper {
  margin: 0;
}

.footer-color-wrapper {
  background-color: #32425c;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  flex-basis: 360px;
}

.main-footer-logo img {
  padding: 21px 41px 21px;
}

.main-footer-logo {
  margin-bottom: 33px;
}

.main-footer {
  background-color: #32425c;
  color: #ffffff;
}

.footer-bottom {
  background-color: #293449;
}

.footer-contacts {
  font-size: 18px;
  color: #ffffff;
  width: 325px;
  text-align: left;

  padding-left: 3px;
}

.footer-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 580px;

  padding-top: 38px;
}

.footer-navigation-item {
  margin-left: 60px;
}

.footer-navigation-item:nth-child(1),
.footer-navigation-item:nth-child(6) {
  margin-left: 0;
}

.footer-navigation-item a {
  font-family: "Cuprum", "Arial", sans-serif;
}

.footer-navigation-item:nth-of-type(n+6) a,
.feedback a,
.site-developed a {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffd180;
}

.footer-navigation-item a:hover,
.feedback a:hover,
.site-developed a:hover {
  text-decoration: underline;
}

.footer-navigation-item a:focus {
  color: rgba(255, 204, 153, 50%);
}


.footer-navigation-item {
  list-style: none;

  font-size: 18px;
  line-height: 24px;
}

.footer-bottom {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
}

.footer-copyright {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  width: 245px;
  margin-right: 147px;
}

.social-list {
  padding: 0;
  display: flex;
  margin-right: 118px;
}

.social-list li {
  list-style: none;
  margin-right: 3px;
}

.social-button {
  position: relative;
  display: block;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #212a3a;
}

.button-vk::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 15px;
  top: 13px;
  left: 50%;
  margin-left: -13px;

  background-image: url(../img/icon/vk-icon.svg);
  background-repeat: no-repeat;
}

.button-fb::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 22px;
  top: 9px;
  left: 50%;
  margin-left: -6px;

  background-image: url(../img/icon/fb-icon.svg);
  background-repeat: no-repeat;
}


.button-inst::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 9px;
  left: 50%;
  margin-left: -10px;

  background-image: url(../img/icon/insta-icon.svg);
  background-repeat: no-repeat;
}

.social-button:focus {
  background-color: #ee3643;
}

.site-developed {
  margin-left: auto;
  padding-left: 30px;
}

.feedback,
.site-developed {
  box-sizing: border-box;
  margin-right: 0;
  width: 140px;
  color: #ffffff;
}

.feedback a:focus,
.site-developed a:focus {
  color: #ee3643;
}

.feedback,
.feedback a,
.site-developed,
.site-developed a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

/*Стили для карточек товаров*/
.catalog-main-wrapper {
  display: flex;
}

.product-catalog-wrapper {
  display: flex;
  flex-direction: column;
}

.product-catalog {
  margin: 0;
  margin-bottom: 52px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.product-catalog .catalog-item {
    flex-basis: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.product-catalog .catalog-item:nth-last-of-type(1),
.product-catalog .catalog-item:nth-last-of-type(2),
.product-catalog .catalog-item:nth-last-of-type(3) {
  margin-bottom: 0;
}

.product-catalog .catalog-item:nth-last-of-type(1) {
  margin-right: 0;
}

.product-catalog li {
  list-style: none;
}

.catalog-item h3 {
  text-align: center;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-item-image {
  text-align: center;
}

.buy-item {
  text-align: center;
}

.button-buy {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #63a63e;
  text-align: center;
  border: 3px solid #63a63e;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 #367315;
}

.button-buy:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  }

.button-buy:focus {
  background-color: #518534;
  border-color: #518534;
  box-shadow: 0 1px 0 0 #518534;
  }

.button-bookmark {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  border: 3px solid #63a63e;
  border-radius: 2px;
  text-align: center;
}

.button-bookmark:hover {
  border-color: #32425c;
}

.button-bookmark:focus {
  border-color: rgba(50, 66, 92, 30%);
  color: rgba(50, 66, 92, 30%);
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #999999;
  text-align: center;
  text-decoration: line-through;
}

.price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  background-color: #ee3643;
  text-align: center;
}

.new-item {
  color: #ffffff;
  background-color: #ee3643;
  text-align: center;
}

/*Меню пагинации*/
.pagination {
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination .pagination-item {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  list-style: none;
  line-height: 18px;
}

.pagination-item a {
  display: block;
  width: 38px;
  padding: 9px 0;

  border: 1px solid #e5e5e5;
  border-radius: 3px;

  text-align: center;
  color: #000000;
}

.pagination-item a:hover {
  border-color: #bdc6ca;
}

.pagination-item a:focus {
  border-color: #ee3643;
}

.pagination-item:last-child  a{
  width: 138px;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
  overflow: hidden;
}

.pagination-item-current a:hover {
  border-color: #ee3643;
}

/*Главная: наши предложения*/
.promo {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 53px;
}

.promo-item {
  position: relative;
  box-sizing: border-box;
  list-style: none;
  flex-basis: 300px;
  height: 122px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px 23px;
}

.promo-item:first-child {
  background-color: #ffbf47;
  order: 1;
}

.promo-item:nth-child(2) {
  background-color: #3bbce3;
  order: 2;
}

.promo-item:nth-child(3) {
  background-color: #dc91d8;
  margin-right: 0;
  order: 3;
}

.promo-item:nth-child(4) {
  background-color: #8ed78f;
  margin-right: 0;
  order: 5;
}

.promo-item:nth-child(5) {
  position: absolute;
  bottom: 0px;
  width: 300px;
  background-color: #ffc047;
  margin: 0;
  order: 6;
  align-self: stretch;
}

.promo-item h3 {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 13px;
}

.promo-item a {
  display: block;
  width: 135px;
  padding: 10px 0;
  text-align: center;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 10%);
  border-radius: 2px;
}

.promo-item a:hover {
    background-color: rgba(0, 0, 0, 20%);
}

.promo-item a:focus {
    background-color: rgba(0, 0, 0, 30%);
}

/*.promo-new-item::before {
  content: "";
  position: absolute;
  width: 201px;
  height: 21px;
  background-image: url("../img/decor/new-item.png");
}*/

.promo-item:nth-child(6) {
  margin-bottom: 0;
  padding: 0;
  flex-basis: 620px;
  height: 265px;
  order: 4;
}

.promo-item:nth-child(6) .promo-slider-item:first-child {
  width: 620px;
  height: 265px;
  background-color: #725749;
  background-image: url("../img/content/slider/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-slider p {
  color: #ffffff;
}

.promo-slider a {
  padding: 12px 49px;
  background-color: #ee3643;
  border-radius: 2px;
}



/*Главная: популярные товары, производители, сервисы*/
.brands-title,
.product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f0;
  padding: 30px 25px;
  margin-bottom: 20px;
}

.link-brands,
.link-product {
  font-family: "Cuprum", "Arial"< sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 70px;
  background-color: #ee3643;
  border-radius: 2px;
}

.link-product {
  padding-left: 56px;
  padding-right: 56px;
}

.popular-brands,
.popular-product {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.popular-brands-catalog {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.popular-brands-catalog .popular-brands-item {
  display: flex;
  min-width: 218px;
  list-style: none;
  width: 218px;
  height: 143px;
}

.popular-brands-item img {
  display: block;
  border: 1px solid #eaeaea;
}

.popular-brands-item img {
 /* padding: 53px 46px;*/
}

/*Главная: сервисы, о компании, контакты*/
.company-wrapper {
  display: flex;
  justify-content: space-between;
}

.services-title,
.about-company-title,
.contacts-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company p,
.contacts p {
  font-size: 13px;
  line-height: 24px;
}

.about-company li {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.about-company .button,
.contacts .button {
  background-color: #ee3643;
  text-transform: uppercase;
}

.about-company .button:hover,
.contacts .button:hover {
  background-color: #ca2c37;
}

.about-company .button:focus,
.contacts .button:focus {
  background-color: #ba2732;
}

/*POPUP Map*/
/*.modal {
  display: none;
}*/

.modal-map {
  position: relative;
}
.modal-map img {

  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.5);
}

.modal-close {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../img/icon/icon-close.svg");
  background-repeat: no-repeat;
  border: none;
}

.modal-map .modal-close {
  position: absolute;
  content: "";
  top: 8px;
  right: 8px;
}
