body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  background-color: #293449;
  margin-bottom: 41px;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.services-title,
.about-company-title,
.contacts-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-header {
  background-color: #f3f7f9;
  display: flex;
  flex-direction: column;
}

.index-header{
  margin-bottom: 119px;
}

.catalog-header{
  margin-bottom: 83px;
}

.main-header-top {
  display: flex;
  background-color: #293449;
}

.header-logo {
  height: 42px;
}

.main-logo img {
  padding: 13px 55px 12px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
  vertical-align: middle;
}

.header-logo a {

}

.main-logo img:hover {
  background-color: #ca2c37;
  border-color: #9a212a;
}

.main-logo img:focus {
  background-color: #ba2732;
  border-color: #8e1e26;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 245px;
  height: 42px;
  margin-right: 10px;
  padding-left: 10px;
}

.search-form:hover {
  background-color: #212a3a;
}

.search-form input {
  font-family: "Cuprum", "Arial", sans-serif;

  width: 215px;
  height: 42px;
  border: none;
  background-color: transparent;

  color: #ffffff;
  line-height: 18px;
}

.search-form input::-webkit-input-placeholder { /* WebKit browsers */
   font-size: 17px;
   line-height: 18px;
   color: #ffffff;
}

.search-form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   font-size: 17px;
   line-height: 18px;
   color: #ffffff;
}

.search-form input::-moz-placeholder { /* Mozilla Firefox 19+ */
   font-size: 17px;
   line-height: 18px;
   color: #ffffff;
}

.search-form input:-ms-input-placeholder { /* Internet Explorer 10+ */
   font-size: 17px;
   line-height: 18px;
   color: #ffffff;
}

.search-form input:hover,
.search-form input:focus {
  background-color: #ffffff;
  color: #000000;
}

.search-form button {
  width: 17px;
  height: 17px;
  margin-right: 7px;
  padding: 0;
  background-color: #ffffff;
  border: none;
}

.main-bookmark,
.main-kart {
  width: 150px;
  padding: 10px 0 14px;
  text-align: center;
}

.main-bookmark{
  margin-left: auto;
}

.main-bookmark:focus,
.main-kart:focus {
  background-color: #212a3a;
}

.main-order  {
  padding: 10px 22px 14px;
}

.main-bookmark,
.main-kart,
.main-order {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.main-bookmark:hover,
.main-kart:hover,
.main-order:hover {
  color: rgba(255, 255, 255, 50%);
  background-color: #212a3a;
}

.item-in-kart {
  background-color: #ee3643;
}

.main-order {
  background-color: #63a63e;
}

.main-order:hover {
  background-color: #5fbb2d;
}

.main-order:focus {
  background-color: #518534;
}

.main-header-middle {
  display: flex;
  margin-bottom: 40px;
}

.main-title,
.main-header-middle .main-contacts,
.main-header-middle ul {
  margin: 0;
  padding: 0;
  width: 310px;
}

.main-navigation {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-navigation a {
  display: block;
  background-color: #32425c;
  padding-top: 20px;
  padding-bottom: 18px;
  border-bottom: 5px solid #293449;
  text-align: center;
}

.main-title {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.main-contacts {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.main-contacts span {
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
}

.user-login {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
}

.user-navigation li,
.main-navigation li {
  list-style: none;
}

.user-navigation {
  margin: 0;
  padding: 0;
  display: flex;
}

.user-navigation .in-account {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-navigation a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:focus {
  color: rgba(0, 0, 0, 30%);
}

.main-navigation a {
 font-family: "Cuprum", "Arial", sans-serif;
 font-size: 17px;
 line-height: 17px;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:focus {
  color: rgba(255, 255, 255, 50%);
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 55px;
}

.breadcrumbs li {
  list-style: none;
}

.breadcrumbs a,
.breadcrumbs-current {
  line-height: 18px;
  color: #000000;
}

.breadcrumbs-current {
  padding-top: 3px;
}

.catalog-title {
  margin: 0;
  margin-bottom: 65px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;

  background-color: #f3f7f9;
}

.filter {
  width: 220px;
}

.filter-item-container {
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  padding-bottom: 21px;
  margin-bottom: 23px;
}

.filter .filter-item-container:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 75px;
}

.price-filter,
.brands-filter,
.type-filter {
  display: flex;
  flex-direction: column;
}

.price-filter legend,
.brands-filter legend,
.type-filter legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.brands-filter label,
.type-filter label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.brands-filter label:nth-last-of-type(1),
.type-filter label:nth-last-of-type(1) {
    margin-bottom: 0;
}

.filter button {
  font-size: 13px;
  line-height: 18px;
  background-color: transparent;
  border: 1px solid #e5e5e5;
}

.company-wrapper {
  display: flex;
  justify-content: space-between;
}

.about-company p,
.contacts p {
  font-size: 13px;
  line-height: 24px;
}

.about-company li {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.about-company .button,
.contacts .button {
  background-color: #ee3643;

  text-transform: uppercase;
}

.about-company .button:hover,
.contacts .button:hover {
  background-color: #ca2c37;
}

.about-company .button:focus,
.contacts .button:focus {
  background-color: #ba2732;
}

.modal-message label {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.modal-message input,
.modal-message textarea {
  font-size: 13px;
  line-height: 18px;

  border: 2px solid #dee3e4;
}

.modal-message input {
  width: 216px;
  height: 34px;
}

.modal-message textarea {
  width: 456px;
  height: 110px;
}

.main-footer .wrapper {
  margin-bottom: 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 340px;
}

.main-footer-logo img {
  padding: 21px 41px 21px;
}

.main-footer {
  background-color: #32425c;
  color: #ffffff;
}

.footer-bottom {
  background-color: #293449;
}

.footer-contacts {
  font-size: 18px;
  color: #ffffff;
  margin-top: 30px;
  width: 322px;
}

.footer-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: flex-end;

  padding-top: 38px;
}

.footer-navigation-item {
  margin-left: 60px;
}

.footer-navigation-item:nth-child(1),
.footer-navigation-item:nth-child(6) {
  margin-left: 0;
}

.footer-navigation-item {
  list-style: none;

  font-size: 18px;
  line-height: 24px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.feedback,
.site-developed {
  color: #ffffff;
}

.footer-navigation-item:nth-of-type(n+6) a,
.feedback a,
.site-developed a {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffd180;
}

.footer-navigation-item a:hover,
.feedback a:hover,
.site-developed a:hover {
  text-decoration: underline;
}

.footer-navigation-item a:focus {
  color: rgba(255, 204, 153, 50%);
}

.feedback a:focus,
.site-developed a:focus {
  color: #ee3643;
}

.footer-copyright {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.social-list li {
  list-style: none;
}

.social-button {
  background-color: #212a3a;
}

.social-button:focus {
  background-color: #ee3643;
}

.feedback,
.feedback a,
.site-developed,
.site-developed a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

/*Стили для карточек товаров в каталоге*/
.product-catalog li {
  list-style: none;
}

.catalog-item h3 {
  text-align: center;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-item-image {
  text-align: center;
}

.buy-item {
  text-align: center;
}

.button-buy {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #63a63e;
  text-align: center;
  border: 3px solid #63a63e;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 #367315;
}

.button-buy:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  }

.button-buy:focus {
  background-color: #518534;
  border-color: #518534;
  box-shadow: 0 1px 0 0 #518534;
  }

.button-bookmark {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  border: 3px solid #63a63e;
  border-radius: 2px;
  text-align: center;
}

.button-bookmark:hover {
  border-color: #32425c;
}

.button-bookmark:focus {
  border-color: rgba(50, 66, 92, 30%);
  color: rgba(50, 66, 92, 30%);
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #999999;
  text-align: center;
  text-decoration: line-through;
}

.price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  background-color: #ee3643;
  text-align: center;
}

.new-item {
  color: #ffffff;
  background-color: #ee3643;
  text-align: center;
}

/*Стили сетки*/

.catalog-main-wrapper {
  display: flex;
}

.product-catalog-wrapper {
  display: flex;
  flex-direction: column;
}

.product-catalog {
  margin: 0;
  margin-bottom: 52px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.product-catalog .catalog-item {
    flex-basis: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.product-catalog .catalog-item:nth-last-of-type(1),
.product-catalog .catalog-item:nth-last-of-type(2),
.product-catalog .catalog-item:nth-last-of-type(3) {
  margin-bottom: 0;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination .pagination-item {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  list-style: none;
  line-height: 18px;
}


.pagination-item a {
  display: block;
  width: 38px;
  padding: 9px 0;

  border: 1px solid #e5e5e5;
  border-radius: 3px;

  text-align: center;
  color: #000000;
}

.pagination-item a:hover {
  border-color: #bdc6ca;
}

.pagination-item a:focus {
  border-color: #ee3643;
}

.pagination-item:last-child  a{
  width: 138px;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
  overflow: hidden;
}

.pagination-item-current a:hover {
  border-color: #ee3643;
}

.user-menu-container {
  display: flex;
  flex-direction: column;
}

footer .wrapper {
  margin: 0;
}

.footer-color-wrapper {
  background-color: #32425c;
}
